$bg: #232634;
$bg-alt: #292c3c;
$fg: #cdd6f4;
$fg-alt: #bac2de;
$red: #e78284;
$red-alt: #ed8796;
$green: #a6d189;
$green-alt: #a6da95;
$yellow: #e5c890;
$yellow-alt: #eed49f;
$orange: #ef9f76;
$orange-alt: #f5a97f;
$blue: #8caaee;
$blue-alt: #8aadf4;
$purple: #ca9ee6;
$purple-alt: #c6a0f6;
$cyan: #99d1db;
$cyan-alt: #91d7e3;
$gray: #626880;

.bar-class {
  background-color: $bg;
  color: $fg;
}

.icon {
  background-size: contain;
  background-position: center;
  color: #a6d189;
  min-height: 24px;
  min-width: 24px;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 7px;
}

.system{
  background-color: purple;
  color: green;
}

.scale {
  border-radius: 5px;
  min-width: 100px;
}